* {
    margin: 0;
	padding: 0;
}

html {
	font-family: "Arial", Sans-serif;
	color: #f8f8f2;
	background-color: #1e212b;
}

#header {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	background-color: #282a36;
}

#main {
	padding: 16px;
}

#footer {
	bottom: 0;
	background-color: #282a36;
	text-align: center;
}

#title {
	padding: 10px 16px;
	font-weight: bold;
	display: inline-block;
	color: #50fa7b;
}

#nav {
	display: inline;
	float: right;
	font-weight: bold;
}

#social {
	display: inline;
	font-size: 20pt;
}

#copyright {
	display: inline-block;
}

.menu ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu li {
	float: left;
	list-style-type: none;
}

.menu li a {
	text-decoration: none;
	color: #bd93f9;
	display: block;
	text-align: center;
	padding: 10px 16px;
}

.menu li a:hover {
	background-color: #44475a;
	color: #ff79c6;
}