* {
    margin: 0;
	padding: 0;
}

html {
	font-family: "Arial", Sans-serif;
	color: #f8f8f2;
	background-color: #1e212b;
}

#header {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	background-color: #282a36;
	box-shadow: 0px 1px 8px #0e0f13;
}

#main {
	padding-inline: 16px;
}

#footer {
	bottom: 0;
	background-color: #282a36;
	float: left;
	width: 100%;
}

#title {
	padding: 10px 16px;
	font-weight: bold;
	display: inline-block;
	color: #50fa7b;
	font-size: 18pt;
}

#nav {
	display: inline;
	float: right;
	font-weight: bold;
}

#social {
	font-size: 20pt;
	display: inline;
	float: left;
}

#copyright {
	display: inline;
	margin: 20px;
	float: right;
	height: 100%;
}

.box {
	max-width: 800px;
	border-radius: 6px;
	margin-top: 16px;
	margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background-color: #282a36;
    border-width: 0px;
    /*box-shadow: 0px 0px 2px #0e0f13;*/
}

.menu ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu li {
	float: left;
	list-style-type: none;
}

.menu li a {
	text-decoration: none;
	color: #bd93f9;
	display: block;
	text-align: center;
	padding: 15px 18px;
}

.menu li a:hover {
	background-color: #44475a;
	color: #ff79c6;
}